.align-center {
    text-align: center;
}

font-english {
    font-family: 'Philosopher', sans-serif;
    font-weight: normal;
}

page-header {
    padding-top: 5rem;
}
.logo {
    width: 210px;
}
.main-nav {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    font-size: 1.5rem;
    list-style: none;
}
.main-nav a{
    color: #432;
}
.main-nav a:hover {
    color: #0bd;
}
.page-title {
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
    line-height: 1.4;
}
/*ヘッダーカバー画像*/
.cover {
    background-size: cover;
    background-position: center bottom;
    height: 880px;
}
.sub-cover {
    background-size: cover;
    background-position: center bottom;
    height: 528px;
    margin-bottom: 4rem;
}
/*ホーム*/
.cover-home {
    background-image: url(../images/cover-home-s.webp);
}
.about {
    max-width: 736px;
    padding: 0 1.5rem;
    margin:3rem auto 4 auto;
}
.about p {
    margin-bottom: 3rem;
}

/*NEWS*/
.cover-news {
    background-image: url(../images/cover-news-s.webp);
}